@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url(./360_F_593063036_V93NX0bkMvu2dQEpYoexgFCagcWfWTYA.jpg) no-repeat;
    background-size: cover;
}

.container{
    min-height: 100vh;
    width: 100%;
}

.wrapper{
    width: 500px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 7%;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 7px 7px 15px black,
                    7px 7px 15px rgba(0, 0, 0, 0.7);
    
}

h1{
    color: whitesmoke;
    text-shadow: 2px 2px 8px gray;
    text-transform: uppercase;
    letter-spacing: .5px;
    cursor: pointer;
    transition: .5s;
    padding-bottom: 10px;
    font-size: 34px;
}

.educ h3{
    text-align: start;
    letter-spacing: .7px;
    padding-bottom: 3px;
    color: whitesmoke;
    padding-bottom: 3px;
    text-shadow: 2px 2px 8px gray;
    transition: .7s;
}

p{
    text-align: start;
    color: whitesmoke;
    text-shadow: 2px 2px 8px gray;
    font-size: 13px;
    transition: .8s;
}

span{
    padding-left: 7px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
}


a{
    text-decoration: none;
    padding: 10px 15px;
    color: black;
    font-size: 15px;
}

button{
    margin: 1.5%;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: 0px 5px 15px 0px;
    color: gray;
    transition: .5s;
}

button:hover{
    transform: scale(1.2);
    box-shadow: none;
}

h1:hover{
    transform: scale(1.2);
    color: lightblue;
}

h3:hover{
    transform: scale(1.2);
    text-align: center;
}

@media (max-width: 500px) {
    h1{
        font-size: 25px;
    }

    h3{
        font-size: 15px;
    }

    span{
        font-size: 13px;
    }

    p{
        font-size: 10px;
    }

    a{
        font-size: 14px;
    }

    .wrapper{
        width: 300px;
        margin-top: 60px;
    }
}

